apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kapi-client
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/YOUR_ORG/kapi-client.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
